body {
	font: 16px "arial", sans-serif;
	background: #bbb;
	min-width: 250px;
}

* {
	margin: 0;
}

/* Component: Navbar */
.navbar {
	display: block;
	background: #eee;
}

.navbar a {
	font-weight: bold;
	color: #111;
	display: inline-block;
	line-height: 3em;
	padding: 0 1em;
	text-decoration: none;
}

.navbar a:hover {
	background: #111;
	color: #eee;
}


/* main container element */
.container.main {
	margin: 10px
}


/* Component: LayoutGroupCointainer */
.group-container {
	margin: 20px 10px;
	background: #fff;
	border-radius: 5px;
}

.group-body {
	padding: 20px;
}

.group-title {
	padding: 15px 20px;
	font-size: 1.6em;
	background: #ddd;
	border-radius: 5px 5px 0 0;
}


/* Component: List */
.list.container li {
	overflow: hidden;
	height: 2em;
	box-sizing: border-box;
}

.list.container {
	list-style-type: none;
	margin: 25px 0;
	padding: 0;
	box-sizing: border-box;
}

.list.header {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	font-weight: bold;
	background: #111;
	color: #eee;
}

.list.row:last-of-type {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.list.row:nth-of-type(odd) {
	background: #eee;
}

.list.row:nth-of-type(even) {
	background: #ccc;
}

.list.data-cell {
	box-sizing: border-box;
	border-right: 0.1em solid #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1em;
	display: inline-block;
	padding: 0.5em 1em;
}

.list.action-set {
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

.list.action-cell {
	box-sizing: border-box;
	overflow: hidden;
	line-height: 1em;
	display: inline-block;
	padding: 0.5em;
	width: 50%;
	min-width: 1.5em;
	text-align: center;
	cursor: pointer;
}

.list.action-cell:hover {
	background: #000;
	color: #fff;
}

.list.data-cell:last-of-type {
	border: none
}

.list.status {
	display: block;
	text-align: center;
	line-height: 2em;
	height: 2em;
	margin: 25px auto 0;
	background: #eee;
	border-radius: 0.5em;
}

/* input elements */
.form.input {
	display: inline-block;
	font-size: 1em;
	margin: 0.6em 0 1.5em;
}

.form.input-label {
	display: block;
	font-weight: bold
}

.form.submit-button {
	display: block
}

.form.input-error {
	display: inline-block;
	margin: 0 1em;
	color: #b33
}